details.styled {
    background-color: var(--surface-color);
    border: 1px solid var(--card-border-color);
    border-radius: var(--border-radius-medium);
    margin-bottom: 1rem;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transition-behavior: allow-discrete;
    max-height: 110px;

    &:hover {
        border: 2px solid var(--primary-color);
    }
}

.detailed-summary {
    font-size: var(--font-size-h3);
    color: var(--text-color-primary);
    text-align: start;
    padding: 3%;
    list-style: none;
    background-color: hsla(calc(0 + var(--i) * 35), 70%, 60%, 0.5);

    .dark-theme & {
        background-color: hsla(calc(0 + var(--i) * 35), 70%, 60%, 0.2);
    }
}

.details-d {
    block-size: 0;
    overflow: hidden;
    padding: 0% 3% 3% 3%;
}

details.styled[open] {

    max-height: 5000px;
    text-overflow: ellipsis;
    border: 2px solid var(--primary-color);

    .details-d {
        block-size: auto;
        margin-top: 1rem;
        font-size: var(--font-size-p);
        color: var(--text-color-secondary);

        li {
            text-align: justify;
            line-height: 1.5;
        }

        .donate-btn {
            position: relative;
            left: 100%;
            translate: -100%;
            color: var(--primary-color);
            background-color: transparent;
        }
    }
}

.highlight {
    position: relative;
    background-color: var(--surface-color-top);
    border-radius: var(--border-radius-medium);
    padding: 3%;
    font-size: var(--font-size-p);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-weight: bold;
}

th,
td {
    border: 1px solid var(--primary-color);
    padding: 8px;
    text-align: center;
}

th {
    color: var(--primary-color);
}

summary:before {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    content: "+";
    color: var(--primary-color);
    font-size: var(--font-size-h3);
    font-weight: bold;
    text-align: center;
    margin-right: 1rem;
}

details[open] summary:before {
    content: "-";
}

ol {
    padding-left: 1rem;

    li::marker {
        font-size: var(--font-size-h3);
        font-weight: bold;
    }
}