details.styled {
    background-color: var(--surface-color);
    border: 1px solid var(--card-border-color);
    border-radius: var(--border-radius-medium);
    padding: 3%;
    margin-bottom: 1rem;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transition-behavior: allow-discrete;
    max-height: 100px;

    &:hover {
        border: 2px solid var(--primary-color);
    }
}

.detailed-summary {
    font-size: var(--font-size-h3);
    color: var(--text-color-primary);
    text-align: start;
    margin-inline-start: 1rem;
    list-style-position: outside;
}

summary::marker {
    color: var(--primary-color);
}

.details-d {
    block-size: 0;
    overflow: hidden;
}

details.styled[open] {

    max-height: 5000px;
    text-overflow: ellipsis;
    border: 2px solid var(--primary-color);

    .details-d {
        block-size: auto;
        margin-top: 1rem;
        ;
        font-size: var(--font-size-p);
        color: var(--text-color-secondary);

        li {
            text-align: justify;
            line-height: 1.5;
        }

        .donate-btn {
            position: relative;
            left: 100%;
            translate: -100%;
            color: var(--primary-color);
            background-color: transparent;
        }
    }
}

.highlight {
    position: relative;
    background-color: var(--surface-color-top);
    border-radius: var(--border-radius-medium);
    padding: 3%;
    font-size: var(--font-size-p);
}