/* ------------------------- NOTICE MODAL (New) ------------------------- */

.notice-card {
    background-color: var(--surface-color);
    border: var(--card-border-color);
    color: var(--text-color-primary);
    padding: var(--space-lg) var(--space-md);
    border-radius: var(--border-radius-large);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    margin: auto;
    max-width: 90%;
    width: 450px;
    text-align: left;

    transform: scale(1.0);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.27), opacity 0.3s;
    max-height: 90vh;
    overflow-y: auto;
}

.notice-content {
    h2 {
        font-family: var(--font-heading);
        color: var(--primary-color);
        margin-bottom: 1rem;
        font-size: var(--font-size-h2);
        text-align: center;
    }

    .banner {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: var(--banner-background);
        border-radius: var(--border-radius-medium);
        margin-bottom: 1rem;
        padding: 0.5rem 0;
    }

    p.notice-subtitle {
        font-weight: var(--font-weight-semi);
        font-size: var(--font-size-h3);
        color: var(--text-color-primary);
        margin-bottom: 0.5rem;
    }

    ul {
        list-style: disc;
        padding-left: var(--space-md);
        margin-bottom: 1rem;
    }

    li {
        margin-bottom: 0.5rem;
        text-align: justify;
    }

    img {
        height: auto;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .action-btn {
        width: 100%;
        text-align: center;
    }
}